.day {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: calc(80vh / 5);
}
.weekDay {
  margin: 0;
  padding: 0;
}
.dataDay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}
.active {
  border-radius: 50%;
  background-color: #1a73e8;
  color: #fff;
}
